mj-section(width='100%', height='100px', background-color='#06359A' padding='0')
  mj-column(padding='0')
    mj-table(font-size='27px' align='center' padding-top='40px' padding-bottom='40px')
      img(width='240' src='http://cevichelabs.com/cdn/mailing/images/logo-up.png')
