extends  ./../_includes/_layout.pug

block content
  mj-section(padding='20px 15px')
    mj-column
      mj-text(mj-class='blue medium center')
        img(width='50' src='http://cevichelabs.com/cdn/mailing/images/email-icon.png')

  mj-section(padding='0')
    mj-column(width='430px')
      mj-text(mj-class='blue medium center')

        h1
          | Hola, {user}

      mj-text(mj-class='blue medium' align='center' line-height='1.5em')
        | Gracias por suscribirte a <a class='link' href='http://tiendas.org.pe/'>tiendas.org.pe</a>, te ofrecemos toda una variedad de productos de tecnología para lo que necesites, puedes acceder a tu cuenta personal y confirmar tu suscripción aquí.

  mj-section(align='center')
    mj-column(width='90px' height='2px')
      mj-section(align='center' background-color='#06359A' padding='0')
        mj-column(width='90px' padding='0')
          mj-spacer(height='5px' align='center' display='block' width='100%')

  mj-section(padding='0')
    mj-column(padding='0 0 80px')
      mj-button(href='http://tiendas.org.pe/' font-family='Helvetica', background-color='#FC0D1B', color='white', border-radius='10px')
        | Confirmar suscripción
